@charset "UTF-8";

body {
    background-color: #ddd;
}

div#interface {
    position: relative; /* Transforma a div em um container */
    background-color: #fff; /* branco */
    width: 1300px;
    height: 2000px;
    margin: 10px auto 10px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0, 0.5); /* sombra */
    padding: 10px; /* espaçamento interno da div */
}

img#logo {
    position: relative;
    left: 500px;
}

header#cabecalho {
    border-bottom: 7px solid black;
    border-top: 7px solid black;
}



